@keyframes toastSlideIn {
  0% {
    transform: translateY(-60px);
    /* 起始位置在左侧外 */
    opacity: 0;
    /* 开始时透明 */
  }

  100% {
    transform: translate(0);
    /* 最终位置在正常位置 */
    opacity: 1;
    /* 最终不透明 */
  }
}

/* 定义滑出的动画 */
@keyframes toastSlideOut {
  0% {
    transform: translateY(0);
    /* 起始位置在正常位置 */
    opacity: 1;
    /* 开始时不透明 */
  }

  100% {
    transform: translateY(-60px);
    /* 最终位置在右侧外 */
    opacity: 0;
    /* 最终透明 */
  }
}

/* 应用样式 */
.toast-slide-in {
  animation: toastSlideIn 0.3s forwards;
  /* 滑入动画 */
}

.toast-slide-out {
  animation: toastSlideOut 0.3s forwards;
  /* 滑出动画 */
}