.fade-in {
  animation: fadeIn 0.1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 0.1s forwards;
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-20%);
    /* 起始位置在左侧外 */
    opacity: 0;
    /* 开始时透明 */
  }

  100% {
    transform: translate(0);
    /* 最终位置在正常位置 */
    opacity: 1;
    /* 最终不透明 */
  }
}

/* 定义滑出的动画 */
@keyframes slideOut {
  0% {
    transform: translateY(0);
    /* 起始位置在正常位置 */
    opacity: 1;
    /* 开始时不透明 */
  }

  100% {
    transform: translateY(-20%);
    /* 最终位置在右侧外 */
    opacity: 0;
    /* 最终透明 */
  }
}

/* 应用样式 */
.slide-in {
  animation: slideIn 0.1s forwards;
  /* 滑入动画 */
}

.slide-out {
  animation: slideOut 0.1s forwards;
  /* 滑出动画 */
}