@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@import "./syntax.css";

body {
  overflow: auto;
  @apply text-sm;
  font-family: "Open Sans",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}


@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  :root {
    --background: 0 0% 100%;
  }

  article {

    h1,
    h2,
    h3 {
      color: rgb(30 41 59);
      margin: 10px 0;
    }

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 16px;
    }

    p {
      margin-bottom: 1em;
    }

    a {
      color: #0078e7;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul {
    padding-left: 10px;

    li {
      list-style: disc;
      margin-left: 2em;
      margin-bottom: 4px;
    }
  }

  .dark {
    --background: 20 14.3% 4.1%;

    article {

      h1,
      h2,
      h3 {
        color: var(--color-gray-400);
      }
    }

  }
}

:root {
  --app-site-header-h: 56px;
}

.app-textarea {
  resize: none;
  outline: none;
  background: inherit;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5;
  border-radius: 0%;
}

::-webkit-scrollbar-thumb {
  background: #a7a7a7;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #646464;
  cursor: default;
}