@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));
@import "./syntax.css";

body {
  overflow: auto;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  @apply text-sm;
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --app-site-header-h: 56px;
}

.app-textarea {
  resize: none;
  outline: none;
  background: inherit;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5;
  border-radius: 0%;
}

::-webkit-scrollbar-thumb {
  background: #a7a7a7;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #646464;
  cursor: default;
}

.open,
[open] {
  .arrow {
    @apply rotate-180
  }

}
/* 
.no-code-decoration code {

  &::before,
  &::after {
    content: none !important;
  }
}

.prose code:not([class*="language-"]) {
  @apply text-pink-600
} */