@keyframes toastSlideIn {
  0% {
    top: 30px;
    opacity: 0;
  }

  100% {
    top: 60px;
    opacity: 1;
  }
}

/* 定义滑出的动画 */
@keyframes toastSlideOut {
  0% {
    top: 60px;
    opacity: 1;
  }

  100% {
    top: 30px;
    opacity: 0;
  }
}

/* 应用样式 */
.toast-slide-in {
  animation: toastSlideIn 0.3s forwards;
  /* 滑入动画 */
}

.toast-slide-out {
  animation: toastSlideOut 0.3s forwards;
  /* 滑出动画 */
}